

body{
    font-family: Arial, Helvetica, sans-serif;
    background: #e6e6e6;
    padding: 0;
    margin:0;
    
}

.container{
    width: 65%;
    height: auto;
    background: white;
    margin:auto;
    margin-top: 5px;
    padding-bottom: 5px;
}
.judul {
    text-align: center;
    font-size: xx-large;
    padding: 30px 0 30px 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #9c0404;
    border: 1px solid gainsboro;
}

nav li {
    float: left;
}

nav li a{
    display: inline-block;
    color:#ffffff;
    text-align: center;
    padding: 14px 15px;
    text-decoration: none;
}

nav li a:hover {
    opacity:0.9;
    background-color: #e14b00;
}

article {
    height: auto;
    border-radius: 3px;
    margin: 5px 5px 5px 5px;
    border: 2px solid gainsboro;
    clear: both;
    text-align: center
}

article p {
    padding: 5px 5px 5px 5px;
    line-height: 1.5;  
}

article .konten {
    height: auto;
    margin: 5px 5px 5px 5px;
    border-radius: 3px;
}

article .konten img {
    height: 400px;
    margin: 5px 5px 5px 5px;
}

footer {
    clear: both;
    width: 98.8%;
    height: auto;
    text-align: center;
    margin: 5px 5px 5px 5px;
    border-radius: 3px;
    border: 2px solid gainsboro;
    padding-top: 15px;
    padding-bottom: 15px;  
}

@media screen and (max-width:1080px) {
    .container, article, footer {
        float: none;
        width: 98%;
   }
}
